---
import PageLayout from '@/layouts/Base'
import PostPreview from '@/components/blog/PostPreview'
import SocialList from '@/components/SocialList'
import { getAllPosts, sortMDByDate } from '@/utils'

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
  <section>
    <h1 class="title mb-6">Desarrollador de software</h1>
    <p class="mb-4">
      Escribo código a tiempo completo desde hace ya unos años. Empecé por
      frontend y backend, ahora trato de desplegar toda la infraestructura por
      mi cuenta. No le digan a nadie, pero no siempre sale bien.
    </p>
    <SocialList />
  </section>
  <section aria-label="Blog post list" class="mt-16">
    <h2 class="title mb-4 text-xl">Publicaciones</h2>
    <ul class="space-y-4 sm:space-y-2">
      {
        allPostsByDate.map((p) => (
          <li class="flex flex-col gap-x-2 sm:flex-row">
            <PostPreview post={p} />
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
